#blog {
    text-align: center;
    color:#333;
}

#blog h2{
    font-size: 1em;
    padding-bottom: 15px;
}

#blog h4 {
    color:#333;
    font-size: 0.9em;
}

#blog p{
    color:#333;
    font-size: 0.7em;
    text-align: justify;
    padding: 15px 0px;
    width:250px;
}

#blog .contenedor{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin:30px;
}

#blog img{
    width:100%;
    max-width:250px;
    padding-top: 15px;   
}

@media (min-width:760px){
    #blog h2{
        font-size: 1.5em;
    }
    
    #blog h4 {
        font-size: 1em;
        width:285px;
    }

    #blog p {
        font-size: 0.8em;
    }

    #blog .contenedor p{
        font-size: 0.7em;
        width:285px;
        padding: 5px 0px;
    }
    #blog img{
        width:100%;
        max-width:285px;
    }

}

@media (min-width:1024px){
    #blog {
        margin-top:50px;
    }

    #blog .contenedor p{
        font-size: 0.8em;
        margin-top:15px;
        padding: 0px 15px;
    }

    #blog img{
        width:100%;
        max-width:250px;
    }

    #blog article {
        margin:10px;
    }
}