#servicios {
    background-color: #333;
    color:#fff;
    text-align: center;
}
#servicios h2{
    font-size: 1.5em;
    padding: 10px;
}

#servicios h4{
    color:#fff;
    font-size: 0.9em;
    text-align: center;
    padding: 0px;
}

#servicios .contenedor {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#servicios article{
    margin:15px;  
}

#servicios img{
    width:200px;
    height: 200px;
    border-radius: 50%; /* transforma en circulo*/
    border: 7px solid #003333; /* borde del circulo */
}

@media (min-width:760px){
    #servicios h2{
        font-size: 2em; 
    }
    
    #servicios h4{
        font-size: 1em;
        width:285px;
    }
}

@media (min-width:1024px){

    #servicios {
        margin-top:50px;
    }
    
    #servicios article{
        margin:0px;  
    }

    #servicios h2{
        font-size: 2em;
    }

    #servicios h4{
        font-size: 1em;
        width:285px;
        margin-bottom:15px;
    }

    #servicios img{
        margin: 15px;
    }
}